<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-image: url("we.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>
<style>
  h1 {
    color: blue;
    font-family: Fira code;
    font-size: 300%;
    text-align: center;
  }
  h2 {
    color: rgb(30, 228, 152);
    font-family: Fira code;
    font-size: 300%;
    text-align: center;
  }
  .fcc-btn {
  background-color: rgb(13, 253, 213);
  color: rgba(155, 32, 32, 0.856);
  border: 2px solid #4CAF50; /* Green */
}
</style>
</head>

<body>

   <h1>Block chain created </h1>
   </h2> OPTIONS </h2>

   <button href="http:/get_chain"  class="fcc-btn" > REQUEST DATA </button>
   
   <p><button href="http:/mine_block" class="fcc-btn">mine block </button></p>
   
   <p><button href="http:/valid" class="fcc-btn">Check is Valid </button></p>
   

</body>
</html>