<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
  background-image: url("Cross.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>
<style>
  h1 {
    color: blue;
    font-family: Fira code;
    font-size: 300%;
    text-align: center;
  }
</style>
</head>
.fcc-btn {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}
<body>
   <h1>Block chain created </h1>
   </h2> LINKS</h2>
   <a target="_blank" class="fcc-btn" href="http:/get_chain">get block chains </a>
   <p><a href="http:/mine_block">mine block </a></p>
   <p><a href="http:/valid">Check is Valid </a></p>
   

</body>
</html>